<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lswr.demo.model.dao.ChatMapper">

    <!-- 1. 특정 채팅방에 있는 채팅 메시지 리스트 조회 -->
    <select id="selectMessageByRoomId" parameterType="String" resultType="ChatMessage">
        SELECT message_id, room_id, user_id, sended_date, content
        FROM ChatMessage
        WHERE room_id = #{roomId}
        ORDER BY sended_date ASC
    </select>

    <!-- 2. 유저가 속한 채팅방 목록 조회 -->
    <select id="selectChatRoomList" parameterType="long" resultType="ChatRoom">
        SELECT cr.room_id, cr.room_name, cr.type
        FROM ChatRoom
        INNER JOIN Party p ON cr.room_id = p.room_id
        WHERE p.user_id = #{userId}
    </select>

    <!-- 3. 오픈 채팅방 목록 조회 -->
    <select id="selectOpenChatRoomList" resultType="ChatRoom">
        SELECT room_id, room_name, type
        FROM ChatRoom
        WHERE type = 'OPEN'
    </select>

    <!-- 4. 유저가 속한 채팅방 유저 목록 조회 -->
    <select id="selectUserListInChatRoom" parameterType="String" resultType="User">
        SELECT u.user_id, u.email, u.name, u.nickname
        FROM User u
        INNER JOIN Party p ON u.user_id = p.user_id
        WHERE p.room_id = #{roomId}
    </select>

    <!-- 5. 유저와 채팅방 정보를 받아 특정 채팅방 퇴장 -->
    <delete id="deleteUserInChatRoom" parameterType="map">
        DELETE FROM Party
        WHERE user_id = #{userId} AND room_id = #{roomId}
    </delete>

    <!-- 6. 유저와 채팅방 정보를 받아 특정 채팅방 입장 -->
    <insert id="insertUserInChatRoom" parameterType="map">
        INSERT INTO Party (user_id, room_id, parted_date)
        VALUES (#{userId}, #{roomId}, CURRENT_DATE)
    </insert>

    <!-- 7. 특정 채팅방 유저 채팅 메시지 -->
    <insert id="inserMessage" parameterType="ChatMessage">
        INSERT INTO ChatMessage (room_id, user_id, sended_date, content)
        VALUES (#{roomId}, #{userId}, #{sendedDate}, #{content})
    </insert>

	<!-- 8. 특정 채팅방 조회 -->
	<select id="selectChatRoomById" parameterType="String" resultType="ChatRoom">
		SELECT *
		FROM ChatRoom
		WHERE room_id = #{roomId}
	</select>
	
	<!-- 9. 채팅방 생성 -->
    <insert id="createChatRoom" parameterType="ChatRoom">
        INSERT INTO ChatRoom (room_id, room_name, type)
        VALUES (#{roomId}, #{roomName}, #{type})
    </insert>
</mapper>